/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team.
 */

.theme-style {
  /* Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis. */
  --blur-backdrop-blurs-backdrop-blur-sm: blur(8px);
  /* Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis. */
  --blur-backdrop-blurs-backdrop-blur-md-2: blur(16px);
  /* Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis. */
  --blur-backdrop-blurs-backdrop-blur-lg-3: blur(24px);
  /* Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis. */
  --blur-backdrop-blurs-backdrop-blur-xl-4: blur(40px);
}
