/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team.
 */

.theme-style {
  --color-primitives-colors-base-white: #ffffff;
  --color-primitives-colors-base-black: #000000;
  --color-primitives-colors-base-transparent: #ffffff00;
  --color-primitives-colors-gray-light-mode-25: #f9f9f9;
  --color-primitives-colors-gray-light-mode-50: #f5f5f5;
  --color-primitives-colors-gray-light-mode-100: #eeeeee;
  --color-primitives-colors-gray-light-mode-200: #e1e1e1;
  --color-primitives-colors-gray-light-mode-300: #d3d3d3;
  --color-primitives-colors-gray-light-mode-400: #bfbfbf;
  --color-primitives-colors-gray-light-mode-500: #888888;
  --color-primitives-colors-gray-light-mode-600: #6e6e6e;
  --color-primitives-colors-gray-light-mode-700: #555555;
  --color-primitives-colors-gray-light-mode-800: #333333;
  --color-primitives-colors-gray-light-mode-900: #222222;
  --color-primitives-colors-gray-light-mode-950: #111111;
  --color-primitives-colors-gray-dark-mode-25: #fafafa;
  --color-primitives-colors-gray-dark-mode-50: #f7f7f7;
  --color-primitives-colors-gray-dark-mode-100: #f0f0f1;
  --color-primitives-colors-gray-dark-mode-200: #ececed;
  --color-primitives-colors-gray-dark-mode-300: #cecfd2;
  --color-primitives-colors-gray-dark-mode-400: #94979c;
  --color-primitives-colors-gray-dark-mode-500: #85888e;
  --color-primitives-colors-gray-dark-mode-600: #61656c;
  --color-primitives-colors-gray-dark-mode-700: #373a41;
  --color-primitives-colors-gray-dark-mode-800: #22262f;
  --color-primitives-colors-gray-dark-mode-900: #13161b;
  --color-primitives-colors-gray-dark-mode-950: #0c0e12;
  --color-primitives-colors-gray-dark-mode-alpha-25: #fffffffa;
  --color-primitives-colors-gray-dark-mode-alpha-50: #fffffff5;
  --color-primitives-colors-gray-dark-mode-alpha-100: #fffffff0;
  --color-primitives-colors-gray-dark-mode-alpha-200: #ffffffeb;
  --color-primitives-colors-gray-dark-mode-alpha-300: #ffffffcc;
  --color-primitives-colors-gray-dark-mode-alpha-400: #ffffff8f;
  --color-primitives-colors-gray-dark-mode-alpha-500: #ffffff80;
  --color-primitives-colors-gray-dark-mode-alpha-600: #ffffff59;
  --color-primitives-colors-gray-dark-mode-alpha-700: #ffffff29;
  --color-primitives-colors-gray-dark-mode-alpha-800: #ffffff14;
  --color-primitives-colors-gray-dark-mode-alpha-900: #ffffff0a;
  --color-primitives-colors-gray-dark-mode-alpha-950: #ffffff00;
  --color-primitives-colors-brand-25: #f6fef9;
  --color-primitives-colors-brand-50: #e7faec;
  --color-primitives-colors-brand-100: #c9fcd6;
  --color-primitives-colors-brand-200: #95f9b8;
  --color-primitives-colors-brand-300: #5fee9f;
  --color-primitives-colors-brand-400: #37dd92;
  --color-primitives-colors-brand-500: #00c781;
  --color-primitives-colors-brand-600: #00ab7f;
  --color-primitives-colors-brand-700: #008f79;
  --color-primitives-colors-brand-800: #00736d;
  --color-primitives-colors-brand-900: #005b5f;
  --color-primitives-colors-brand-950: #084647;
  --color-primitives-colors-error-25: #fffbfa;
  --color-primitives-colors-error-50: #fdf0e9;
  --color-primitives-colors-error-100: #ffe7db;
  --color-primitives-colors-error-200: #ffcab8;
  --color-primitives-colors-error-300: #ffa795;
  --color-primitives-colors-error-400: #ff867a;
  --color-primitives-colors-error-500: #ff4f4f;
  --color-primitives-colors-error-600: #db3947;
  --color-primitives-colors-error-700: #b72740;
  --color-primitives-colors-error-800: #931939;
  --color-primitives-colors-error-900: #7a0f34;
  --color-primitives-colors-error-950: #55160c;
  --color-primitives-colors-warning-25: #fffcf5;
  --color-primitives-colors-warning-50: #fffaeb;
  --color-primitives-colors-warning-100: #fef0c7;
  --color-primitives-colors-warning-200: #fedf89;
  --color-primitives-colors-warning-300: #fec84b;
  --color-primitives-colors-warning-400: #fdb022;
  --color-primitives-colors-warning-500: #f79009;
  --color-primitives-colors-warning-600: #dc6803;
  --color-primitives-colors-warning-700: #b54708;
  --color-primitives-colors-warning-800: #93370d;
  --color-primitives-colors-warning-900: #7a2e0e;
  --color-primitives-colors-warning-950: #4e1d09;
  --color-primitives-colors-success-25: #f6fef9;
  --color-primitives-colors-success-50: #e7faec;
  --color-primitives-colors-success-100: #c9fcd6;
  --color-primitives-colors-success-200: #95f9b8;
  --color-primitives-colors-success-300: #5fee9f;
  --color-primitives-colors-success-400: #37dd92;
  --color-primitives-colors-success-500: #00c781;
  --color-primitives-colors-success-600: #00ab7f;
  --color-primitives-colors-success-700: #008f79;
  --color-primitives-colors-success-800: #00736d;
  --color-primitives-colors-success-900: #005b5f;
  --color-primitives-colors-success-950: #084647;
  --color-primitives-colors-blue-25: #f5f8ff;
  --color-primitives-colors-blue-50: #e3efff;
  --color-primitives-colors-blue-100: #cbe2ff;
  --color-primitives-colors-blue-200: #8fc0ff;
  --color-primitives-colors-blue-300: #549fff;
  --color-primitives-colors-blue-400: #2d89ff;
  --color-primitives-colors-blue-500: #0070ff;
  --color-primitives-colors-blue-600: #0262dd;
  --color-primitives-colors-blue-700: #074cba;
  --color-primitives-colors-blue-800: #013d9c;
  --color-primitives-colors-blue-900: #003083;
  --color-primitives-colors-blue-950: #002266;
  --color-primitives-colors-purple-25: #fcfaff;
  --color-primitives-colors-purple-50: #f0e7f9;
  --color-primitives-colors-purple-100: #ead5fd;
  --color-primitives-colors-purple-200: #d4acfc;
  --color-primitives-colors-purple-300: #b782f8;
  --color-primitives-colors-purple-400: #9d61f2;
  --color-primitives-colors-purple-500: #7630ea;
  --color-primitives-colors-purple-600: #5b23c9;
  --color-primitives-colors-purple-700: #4318a8;
  --color-primitives-colors-purple-800: #2e0f87;
  --color-primitives-colors-purple-900: #200970;
  --color-primitives-colors-purple-950: #2c1c5f;
  --color-1-color-modes-colors-border-secondary-alt: #00000014;
  --color-1-color-modes-component-colors-alpha-white-10: #ffffff1a;
  --color-1-color-modes-component-colors-alpha-white-20: #ffffff33;
  --color-1-color-modes-component-colors-alpha-white-30: #ffffff4d;
  --color-1-color-modes-component-colors-alpha-white-40: #ffffff66;
  --color-1-color-modes-component-colors-alpha-white-50: #ffffff80;
  --color-1-color-modes-component-colors-alpha-white-60: #ffffff99;
  --color-1-color-modes-component-colors-alpha-white-70: #ffffffb2;
  --color-1-color-modes-component-colors-alpha-white-80: #ffffffcc;
  --color-1-color-modes-component-colors-alpha-white-90: #ffffffe5;
  --color-1-color-modes-component-colors-alpha-white-100: #ffffff;
  --color-1-color-modes-component-colors-alpha-black-10: #0000001a;
  --color-1-color-modes-component-colors-alpha-black-20: #00000033;
  --color-1-color-modes-component-colors-alpha-black-30: #0000004d;
  --color-1-color-modes-component-colors-alpha-black-40: #00000066;
  --color-1-color-modes-component-colors-alpha-black-50: #00000080;
  --color-1-color-modes-component-colors-alpha-black-60: #00000099;
  --color-1-color-modes-component-colors-alpha-black-70: #000000b2;
  --color-1-color-modes-component-colors-alpha-black-80: #000000cc;
  --color-1-color-modes-component-colors-alpha-black-90: #000000e5;
  --color-1-color-modes-component-colors-alpha-black-100: #000000;
  --color-1-color-modes-component-colors-components-app-store-badges-app-store-badge-border: #a6a6a6;
  --color-1-color-modes-component-colors-components-avatars-avatar-styles-bg-neutral: #e0e0e0;
  --color-1-color-modes-colors-effects-shadows-shadow-xs: #0a0d120d;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-xs: 10, 13, 18;
  --color-1-color-modes-colors-effects-portfolio-mockups-shadow-main-centre-md: #0a0d1224;
  --rgb-color-1-color-modes-colors-effects-portfolio-mockups-shadow-main-centre-md:
    10, 13, 18;
  --color-1-color-modes-colors-effects-portfolio-mockups-shadow-main-centre-lg: #0a0d122e;
  --rgb-color-1-color-modes-colors-effects-portfolio-mockups-shadow-main-centre-lg:
    10, 13, 18;
  --color-1-color-modes-colors-effects-portfolio-mockups-shadow-overlay-lg: #0a0d121f;
  --rgb-color-1-color-modes-colors-effects-portfolio-mockups-shadow-overlay-lg:
    10, 13, 18;
  --color-1-color-modes-colors-effects-portfolio-mockups-shadow-grid-md: #0a0d1214;
  --rgb-color-1-color-modes-colors-effects-portfolio-mockups-shadow-grid-md:
    10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-sm-01: #0a0d121a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-sm-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-sm-02: #0a0d121a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-sm-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-md-01: #0a0d121a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-md-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-md-02: #0a0d120f;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-md-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-lg-01: #0a0d1214;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-lg-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-lg-02: #0a0d1208;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-lg-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-lg-03: #0a0d120a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-lg-03: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-xl-01: #0a0d1214;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-xl-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-xl-02: #0a0d1208;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-xl-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-xl-03: #0a0d120a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-xl-03: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-2xl-01: #0a0d122e;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-2xl-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-2xl-02: #0a0d120a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-2xl-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-3xl-01: #0a0d1224;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-3xl-01: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-3xl-02: #0a0d120a;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-3xl-02: 10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-skeumorphic-inner: #0a0d120d;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-skeumorphic-inner:
    10, 13, 18;
  --color-1-color-modes-colors-effects-shadows-shadow-skeumorphic-inner-border: #0a0d122e;
  --rgb-color-1-color-modes-colors-effects-shadows-shadow-skeumorphic-inner-border:
    10, 13, 18;
  --color-1-color-modes-colors-text-primary-900: var(
    --color-primitives-colors-gray-light-mode-900
  );
  --color-1-color-modes-colors-text-primary-on-brand: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-colors-text-secondary-700: var(
    --color-primitives-colors-gray-light-mode-700
  );
  --color-1-color-modes-colors-text-secondary-hover: var(
    --color-primitives-colors-gray-light-mode-800
  );
  --color-1-color-modes-colors-text-secondary-on-brand: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-colors-text-tertiary-600: var(
    --color-primitives-colors-gray-light-mode-600
  );
  --color-1-color-modes-colors-text-tertiary-hover: var(
    --color-primitives-colors-gray-light-mode-700
  );
  --color-1-color-modes-colors-text-tertiary-on-brand: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-colors-text-quaternary-500: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-colors-text-quaternary-on-brand: var(
    --color-primitives-colors-brand-300
  );
  --color-1-color-modes-colors-text-white: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-colors-text-disabled: var(
    --color-primitives-colors-gray-light-mode-400
  );
  --color-1-color-modes-colors-text-placeholder: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-colors-text-placeholder-subtle: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-colors-text-brand-primary-900: var(
    --color-primitives-colors-brand-900
  );
  --color-1-color-modes-colors-text-brand-secondary-700: var(
    --color-primitives-colors-brand-700
  );
  --color-1-color-modes-colors-text-brand-secondary-hover: var(
    --color-primitives-colors-brand-800
  );
  --color-1-color-modes-colors-text-brand-tertiary-600: var(
    --color-primitives-colors-brand-600
  );
  --color-colors-text-brand-tertiary-alt: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-colors-text-error-primary-600: var(
    --color-primitives-colors-error-600
  );
  --color-1-color-modes-colors-text-error-primary-hover: var(
    --color-primitives-colors-error-700
  );
  --color-1-color-modes-colors-text-warning-primary-600: var(
    --color-primitives-colors-warning-600
  );
  --color-1-color-modes-colors-text-success-primary-600: var(
    --color-primitives-colors-success-600
  );
  --color-1-color-modes-colors-text-link: var(
    --color-primitives-colors-blue-500
  );
  --color-1-color-modes-colors-text-link-hover: var(
    --color-primitives-colors-blue-600
  );
  --color-1-color-modes-colors-border-primary: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-colors-border-secondary: var(
    --color-primitives-colors-gray-light-mode-200
  );
  --color-1-color-modes-colors-border-tertiary: var(
    --color-primitives-colors-gray-light-mode-100
  );
  --color-1-color-modes-colors-border-disabled: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-colors-border-disabled-subtle: var(
    --color-primitives-colors-gray-light-mode-200
  );
  --color-1-color-modes-colors-border-brand: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-colors-border-brand-alt: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-colors-border-error: var(
    --color-primitives-colors-error-500
  );
  --color-1-color-modes-colors-border-error-subtle: var(
    --color-primitives-colors-error-300
  );
  --color-1-color-modes-colors-foreground-fg-primary-900: var(
    --color-primitives-colors-gray-light-mode-900
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-50: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-component-colors-components-buttons-button-primary-icon: var(
    --color-primitives-colors-brand-300
  );
  --color-1-color-modes-component-colors-components-buttons-button-primary-icon-hover: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-component-colors-components-buttons-button-destructive-primary-icon: var(
    --color-primitives-colors-error-300
  );
  --color-1-color-modes-component-colors-components-buttons-button-destructive-primary-icon-hover: var(
    --color-primitives-colors-error-200
  );
  --color-1-color-modes-component-colors-components-footers-footer-button-fg: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-component-colors-components-footers-footer-button-fg-hover: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-component-colors-components-icons-icon-fg-brand: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-components-icons-icon-fg-brand-on-brand: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(
    --color-primitives-colors-error-600
  );
  --color-1-color-modes-component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(
    --color-primitives-colors-warning-600
  );
  --color-1-color-modes-component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(
    --color-primitives-colors-success-600
  );
  --color-1-color-modes-component-colors-components-mockups-screen-mockup-border: var(
    --color-primitives-colors-gray-light-mode-900
  );
  --color-1-color-modes-component-colors-components-sliders-slider-handle-bg: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-component-colors-components-sliders-slider-handle-border: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-components-toggles-toggle-button-fg-disabled: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-component-colors-components-toggles-toggle-border: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-colors-background-bg-brand-solid: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-component-colors-components-toggles-toggle-slim-border-pressed: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-colors-background-bg-brand-solid-hover: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-components-toggles-toggle-slim-border-pressed-hover: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-components-tooltips-tooltip-supporting-text: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-component-colors-components-text-editor-text-editor-icon-fg: var(
    --color-primitives-colors-gray-light-mode-400
  );
  --color-1-color-modes-component-colors-components-text-editor-text-editor-icon-fg-active: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-100: var(
    --color-primitives-colors-gray-light-mode-100
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-200: var(
    --color-primitives-colors-gray-light-mode-200
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-300: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-400: var(
    --color-primitives-colors-gray-light-mode-400
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-500: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-600: var(
    --color-primitives-colors-gray-light-mode-600
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-700: var(
    --color-primitives-colors-gray-light-mode-700
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-800: var(
    --color-primitives-colors-gray-light-mode-800
  );
  --color-1-color-modes-component-colors-utility-gray-utility-gray-900: var(
    --color-primitives-colors-gray-light-mode-900
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-50: var(
    --color-primitives-colors-brand-50
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-50-alt: var(
    --color-primitives-colors-brand-50
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-100: var(
    --color-primitives-colors-brand-100
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-100-alt: var(
    --color-primitives-colors-brand-100
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-200: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-200-alt: var(
    --color-primitives-colors-brand-200
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-300: var(
    --color-primitives-colors-brand-300
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-300-alt: var(
    --color-primitives-colors-brand-300
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-400: var(
    --color-primitives-colors-brand-400
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-400-alt: var(
    --color-primitives-colors-brand-400
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-500: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-500-alt: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-600: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-600-alt: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-700: var(
    --color-primitives-colors-brand-700
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-700-alt: var(
    --color-primitives-colors-brand-700
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-800: var(
    --color-primitives-colors-brand-800
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-800-alt: var(
    --color-primitives-colors-brand-800
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-900: var(
    --color-primitives-colors-brand-900
  );
  --color-1-color-modes-component-colors-utility-brand-utility-brand-900-alt: var(
    --color-primitives-colors-brand-900
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-50: var(
    --color-primitives-colors-error-50
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-100: var(
    --color-primitives-colors-error-100
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-200: var(
    --color-primitives-colors-error-200
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-300: var(
    --color-primitives-colors-error-300
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-400: var(
    --color-primitives-colors-error-400
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-500: var(
    --color-primitives-colors-error-500
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-600: var(
    --color-primitives-colors-error-600
  );
  --color-1-color-modes-component-colors-utility-error-utility-error-700: var(
    --color-primitives-colors-error-700
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-50: var(
    --color-primitives-colors-warning-50
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-100: var(
    --color-primitives-colors-warning-100
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-200: var(
    --color-primitives-colors-warning-200
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-300: var(
    --color-primitives-colors-warning-300
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-400: var(
    --color-primitives-colors-warning-400
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-500: var(
    --color-primitives-colors-warning-500
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-600: var(
    --color-primitives-colors-warning-600
  );
  --color-1-color-modes-component-colors-utility-warning-utility-warning-700: var(
    --color-primitives-colors-warning-700
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-50: var(
    --color-primitives-colors-success-50
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-100: var(
    --color-primitives-colors-success-100
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-200: var(
    --color-primitives-colors-success-200
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-300: var(
    --color-primitives-colors-success-300
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-400: var(
    --color-primitives-colors-success-400
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-500: var(
    --color-primitives-colors-success-500
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-600: var(
    --color-primitives-colors-success-600
  );
  --color-1-color-modes-component-colors-utility-success-utility-success-700: var(
    --color-primitives-colors-success-700
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-50: var(
    --color-primitives-colors-blue-50
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-100: var(
    --color-primitives-colors-blue-100
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-200: var(
    --color-primitives-colors-blue-200
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-300: var(
    --color-primitives-colors-blue-300
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-400: var(
    --color-primitives-colors-blue-400
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-500: var(
    --color-primitives-colors-blue-500
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-600: var(
    --color-primitives-colors-blue-600
  );
  --color-1-color-modes-component-colors-utility-blue-utility-blue-700: var(
    --color-primitives-colors-blue-700
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-50: var(
    --color-primitives-colors-purple-50
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-100: var(
    --color-primitives-colors-purple-100
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-200: var(
    --color-primitives-colors-purple-200
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-300: var(
    --color-primitives-colors-purple-300
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-400: var(
    --color-primitives-colors-purple-400
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-500: var(
    --color-primitives-colors-purple-500
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-600: var(
    --color-primitives-colors-purple-600
  );
  --color-1-color-modes-component-colors-utility-purple-utility-purple-700: var(
    --color-primitives-colors-purple-700
  );
  --color-1-color-modes-colors-foreground-fg-secondary-700: var(
    --color-primitives-colors-gray-light-mode-700
  );
  --color-1-color-modes-colors-foreground-fg-secondary-hover: var(
    --color-primitives-colors-gray-light-mode-800
  );
  --color-1-color-modes-colors-foreground-fg-tertiary-600: var(
    --color-primitives-colors-gray-light-mode-600
  );
  --color-1-color-modes-colors-foreground-fg-tertiary-hover: var(
    --color-primitives-colors-gray-light-mode-700
  );
  --color-1-color-modes-colors-foreground-fg-quaternary-400: var(
    --color-primitives-colors-gray-light-mode-400
  );
  --color-1-color-modes-colors-foreground-fg-quaternary-hover: var(
    --color-primitives-colors-gray-light-mode-500
  );
  --color-1-color-modes-colors-foreground-fg-white: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-colors-foreground-fg-disabled: var(
    --color-primitives-colors-gray-light-mode-400
  );
  --color-1-color-modes-colors-foreground-fg-disabled-subtle: var(
    --color-primitives-colors-gray-light-mode-300
  );
  --color-1-color-modes-colors-foreground-fg-brand-primary-600: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-colors-foreground-fg-brand-primary-alt: var(
    --color-primitives-colors-brand-500
  );
  --color-1-color-modes-colors-foreground-fg-brand-secondary-500: var(
    --color-primitives-colors-brand-400
  );
  --color-1-color-modes-colors-foreground-fg-brand-secondary-alt: var(
    --color-primitives-colors-brand-400
  );
  --color-1-color-modes-colors-foreground-fg-brand-secondary-hover: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-colors-foreground-fg-error-primary: var(
    --color-primitives-colors-error-600
  );
  --color-1-color-modes-colors-foreground-fg-error-secondary: var(
    --color-primitives-colors-error-500
  );
  --color-1-color-modes-colors-foreground-fg-warning-primary: var(
    --color-primitives-colors-warning-600
  );
  --color-1-color-modes-colors-foreground-fg-warning-secondary: var(
    --color-primitives-colors-warning-500
  );
  --color-1-color-modes-colors-foreground-fg-success-primary: var(
    --color-primitives-colors-success-600
  );
  --color-1-color-modes-colors-foreground-fg-success-secondary: var(
    --color-primitives-colors-success-500
  );
  --color-1-color-modes-colors-foreground-fg-text-link: var(
    --color-primitives-colors-blue-500
  );
  --color-1-color-modes-colors-foreground-fg-text-link-hover: var(
    --color-primitives-colors-blue-600
  );
  --color-1-color-modes-colors-background-bg-primary: var(
    --color-primitives-colors-base-white
  );
  --rgb-color-1-color-modes-colors-background-bg-primary: 255, 255, 255;
  --color-1-color-modes-colors-effects-focus-rings-focus-ring: var(
    --color-primitives-colors-brand-500
  );
  --rgb-color-1-color-modes-colors-effects-focus-rings-focus-ring: 0, 199, 129;
  --color-1-color-modes-colors-effects-focus-rings-focus-ring-error: var(
    --color-primitives-colors-error-500
  );
  --rgb-color-1-color-modes-colors-effects-focus-rings-focus-ring-error:
    255, 79, 79;
  --color-1-color-modes-colors-background-bg-primary-alt: var(
    --color-primitives-colors-base-white
  );
  --color-1-color-modes-colors-background-bg-primary-hover: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-colors-background-bg-primary-solid: var(
    --color-primitives-colors-gray-light-mode-950
  );
  --color-1-color-modes-colors-background-bg-secondary: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-colors-background-bg-secondary-alt: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-colors-background-bg-secondary-hover: var(
    --color-primitives-colors-gray-light-mode-100
  );
  --color-1-color-modes-colors-background-bg-secondary-subtle: var(
    --color-primitives-colors-gray-light-mode-25
  );
  --color-1-color-modes-colors-background-bg-secondary-solid: var(
    --color-primitives-colors-gray-light-mode-600
  );
  --color-1-color-modes-colors-background-bg-tertiary: var(
    --color-primitives-colors-gray-light-mode-100
  );
  --color-1-color-modes-colors-background-bg-quaternary: var(
    --color-primitives-colors-gray-light-mode-200
  );
  --color-1-color-modes-colors-background-bg-active: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-colors-background-bg-disabled: var(
    --color-primitives-colors-gray-light-mode-100
  );
  --color-1-color-modes-colors-background-bg-disabled-subtle: var(
    --color-primitives-colors-gray-light-mode-50
  );
  --color-1-color-modes-colors-background-bg-overlay: var(
    --color-primitives-colors-gray-light-mode-950
  );
  --color-1-color-modes-colors-background-bg-brand-primary: var(
    --color-primitives-colors-brand-50
  );
  --color-1-color-modes-colors-background-bg-brand-primary-alt: var(
    --color-primitives-colors-brand-50
  );
  --color-1-color-modes-colors-background-bg-brand-secondary: var(
    --color-primitives-colors-brand-100
  );
  --color-1-color-modes-colors-background-bg-brand-section: var(
    --color-primitives-colors-brand-700
  );
  --color-1-color-modes-colors-background-bg-brand-section-subtle: var(
    --color-primitives-colors-brand-600
  );
  --color-1-color-modes-colors-background-bg-error-primary: var(
    --color-primitives-colors-error-50
  );
  --color-1-color-modes-colors-background-bg-error-secondary: var(
    --color-primitives-colors-error-100
  );
  --color-1-color-modes-colors-background-bg-error-solid: var(
    --color-primitives-colors-error-600
  );
  --color-1-color-modes-colors-background-bg-error-solid-hover: var(
    --color-primitives-colors-error-700
  );
  --color-1-color-modes-colors-background-bg-warning-primary: var(
    --color-primitives-colors-warning-50
  );
  --color-1-color-modes-colors-background-bg-warning-secondary: var(
    --color-primitives-colors-warning-100
  );
  --color-1-color-modes-colors-background-bg-warning-solid: var(
    --color-primitives-colors-warning-600
  );
  --color-1-color-modes-colors-background-bg-success-primary: var(
    --color-primitives-colors-success-50
  );
  --color-1-color-modes-colors-background-bg-success-secondary: var(
    --color-primitives-colors-success-100
  );
  --color-1-color-modes-colors-background-bg-success-solid: var(
    --color-primitives-colors-success-600
  );
}
