/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team.
 */

:root {
  --dimension-6-typography-font-size-text-xs: 12px;
  --dimension-6-typography-font-size-text-xs-sm: 13px;
  --dimension-6-typography-font-size-text-sm: 14px;
  --dimension-6-typography-font-size-text-md: 16px;
  --dimension-6-typography-font-size-text-lg: 18px;
  --dimension-6-typography-font-size-text-xl: 20px;
  --dimension-6-typography-font-size-display-xs: 24px;
  --dimension-6-typography-font-size-display-sm: 30px;
  --dimension-6-typography-font-size-display-md: 36px;
  --dimension-6-typography-font-size-display-lg: 48px;
  --dimension-6-typography-font-size-display-xl: 60px;
  --dimension-6-typography-font-size-display-2xl: 72px;
  --dimension-4-widths-paragraph-max-width: var(
    --size-primitives-spacing-180-720px
  );
  --dimension-3-spacing-none: var(--size-primitives-spacing-0-0px);
  --dimension-3-spacing-xxs: var(--size-primitives-spacing-0-5-2px);
  --dimension-3-spacing-xs: var(--size-primitives-spacing-1-4px);
  --dimension-3-spacing-sm: var(--size-primitives-spacing-1-5-6px);
  --dimension-3-spacing-md: var(--size-primitives-spacing-2-8px);
  --dimension-3-spacing-md-lg: var(--size-primitives-spacing-2-5-10px);
  --dimension-3-spacing-lg: var(--size-primitives-spacing-3-12px);
  --dimension-3-spacing-xl: var(--size-primitives-spacing-4-16px);
  --dimension-3-spacing-2xl: var(--size-primitives-spacing-5-20px);
  --dimension-3-spacing-3xl: var(--size-primitives-spacing-6-24px);
  --dimension-3-spacing-4xl: var(--size-primitives-spacing-8-32px);
  --dimension-3-spacing-5xl: var(--size-primitives-spacing-10-40px);
  --dimension-3-spacing-6xl: var(--size-primitives-spacing-12-48px);
  --dimension-3-spacing-7xl: var(--size-primitives-spacing-16-64px);
  --dimension-3-spacing-8xl: var(--size-primitives-spacing-20-80px);
  --dimension-3-spacing-9xl: var(--size-primitives-spacing-24-96px);
  --dimension-3-spacing-10xl: var(--size-primitives-spacing-32-128px);
  --dimension-3-spacing-11xl: var(--size-primitives-spacing-40-160px);
}
