/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team.
 */

.theme-dark {
  --font-weight-6-typography-font-weight-regular: 400;
  --font-weight-6-typography-font-weight-regular-italic: 400;
  --font-weight-6-typography-font-weight-medium: 500;
  --font-weight-6-typography-font-weight-medium-italic: 400;
  --font-weight-6-typography-font-weight-semibold: 600;
  --font-weight-6-typography-font-weight-semibold-italic: 400;
  --font-weight-6-typography-font-weight-bold: 700;
  --font-weight-6-typography-font-weight-bold-italic: 400;
}
